.cog-btn {
    border: 0;
}

.dropdown {
    position: absolute;
    width: 100px;
    background-color: #F9F9F9;
    text-align: left;
}

table ul {
    list-style: none;
    padding: 0px;
    margin: 0;
}

td li {
    text-decoration: none;
    padding: 8px 12px;
}

.li {
    color: black;
    text-decoration: none;
}

td li:hover {
    background-color: #DCDCDC;
    cursor: pointer;
}
