:global {
  body{
    margin: 0;
  }
}

  html, body, #root {
     height: 100%;
     margin: 0;
     font-family: Sans-Serif;
   }
 
.app-body {
  height: 100%;
  display: flex;

  .content {
    box-sizing: border-box; 
    height: 100%;
    width: 100%;
  }
}
