.form {
  width: 800px;
  color: #B0AFAF;
  text-align: left;
  font-style: italic;
  padding: 20px;
  background-color: #F6F6F6;

  .row {
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .column {
      float: left;
      width: 47%;
      padding: 10px;

      input,
      select {
        padding: 5px;
        width: 96%;
        color: #9F9F9F;
        border-width: 2px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
      }
    }

    .button-container {
      float: right;
      margin: 20px;
    }

    .form-element {
      padding-top: 10px;


      .lookup-bar {
        display: flex;
      }

      .lookup-button {
        display: inline;
        width: 25px;

      }
    }

    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    .pdfframe {
      margin-top: 10px;
      width: 95%;
      height: 200px;
      border: 2px solid #9A9795;
    }
  }
}

.button {
  width: 150px;
  text-decoration: none;
  font-style: normal;
  border: 1px solid #DFDFDF;
  font-size: large;
  padding: 5px 20px;
  text-align: center;
  margin-right: 5px;
  display: inline-block;

  &:hover {
    border: 1px solid rgb(159, 163, 163);
  }
}

.upload-button {
  background-color: #3F9AC9;
  color: white;
}

.save-button {
  background-color: #C0CC39;
  color: #F6F8AF;
}

.reset-button {
  background-color: inherit;
  color: #9A9795;
}