.table-container {
    width: 100%;
    text-align: left;
    background-color: #F6F6F6;
    padding: 3px;
    display: inline-block;
    text-align: left;
    padding: 30px;

    .new-cert-button {
        text-decoration: none;
        background-color: #C0CC39;
        border: 1px solid transparent;
        color: #F6F8AF;
        border: none;
        border-color: #ABAF5C;
        font-size: large;
        padding: 5px 20px;

        &:hover {
            border: 1px solid rgb(159, 163, 163);
        }
    }

    .table {
        margin-left: 0;
        margin-right: auto;
        padding: 8px;
        border: 2px solid #E6E6E6;
        border-spacing: 0;

        .table-header {
            color: #444444;

            th {
                color: #A28E87;
                border-top: 1px solid #DDDDDD;
                border-left: 1px solid #DDDDDD;
                padding: 0.7em;
            }
        }

        .table-body td {
            color: #4B4B4B;
            border-top: 1px solid #DDDDDD;
            border-left: 1px solid transparent;
            padding: 0.7em;
        }
    }



}

.scrollable {
    display: block;
    overflow: scroll;
    height: 300px;
}